{% extends 'base.html' %}

{% block title %}Chat for {{product.title}}{% endblock title %}

{% block content %}
<div class="list-container chatContainer">
    <div class="explore-products chatInfo">
        <h2>Other conversations</h2>
        <h3>{{product.title}}</h3>
        {% if product.image %}
            <h3>{{product.price}}</h3>
            <img src="{{product.image.url}}"/>
        {% endif %}
    </div>

    <div class="chat">
        <div>
            {% for message in messages %}
                <div class="messages">
                    <p></p>
                    <p>{{message.message}}</p>
                </div>
            {% endfor %}
        </div>
        <div>
            <form method="POST"  action="{% url 'chat' product_id=product.id %}">
                {% csrf_token %}
                <input class="" id="messageToSend" name="message">
                <input type="hidden" name="sender" value="{{user.id}}"></input>
                <input type="hidden" name="receiver" value="{{product.author.id}}"></input>
                <button type="submit" class="btn btn-success">
                    Send
                </button>
            </form>
        </div>
        
    </div>
</div>
{% endblock content %}