{% extends 'base.html' %}

{% block title %}Edit Post{% endblock title %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <div class="create-product-container center-row">
        <div class="product-page productView-left">
            <div class="title-part">
                <h5>MarketPlace</h5>
                <h4>Product on sell</h4>
                <h5>{{ user.username }}</h5>
            </div>
            <div>
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <input type="submit" class="btn btn-success" value="Edit">
        </div>
        <div class="product-page-image center-column">
            <h1>Images</h1>
            <p>Edit your image if you want</p>
            {% if post.image %}
                <img id="the_image" src="{{post.image.url}}"/>
            {% endif %}
        </div>
    </div>

    <script>
        document.getElementById('id_image').addEventListener('change', function(event) {
            var imagePreview = document.getElementById('the_image');
            var file = event.target.files[0];
            var reader = new FileReader();
            
            reader.onload = function(e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            };
            
            if (file) {
                reader.readAsDataURL(file);
            } else {
                imagePreview.src = '';
                imagePreview.style.display = 'none';
            }
        });
    </script>
</form>
{% endblock content %}