:root {
    --primary-color: #1c2bb8;
    --primary-color-50: #E8EAFC;
    --primary-color-100: #D1D5FA;
    --primary-color-200: #A3ABF5;
    --primary-color-300: #7582F0;
    --primary-color-400: #4858EA;
    --primary-color-600: #1525B7;
    --primary-color-700: #0F1C8A;
    --primary-color-800: #0A125C;
    --primary-color-900: #05092E;

    --secondary-color: #B8A91C;
    --secondary-color-200: #F2EAA6;
    --secondary-color-300: #EBE07A;
    --secondary-color-400: #E4D54E;
    --secondary-color-600: #B1A21B;
    --secondary-color-700: #857A14;
    --secondary-color-900: #2C2907;

    --third--color: #F1F1F1 ;
    --third--color--300: #B3B3B3 ;
    --third--color--400: #999999 ;
    --third--color--600: #666666 ;
    --third--color--800: #333333 ;
    --third--color--900: #1A1A1A ;

    --a-font:"Roboto Slab", serif;
    --b-font:"Rubik", sans-serif;
}

html{
    font-size: 20px;
    background-color: var(--primary-color-200);
    color: var(--third--color);
}
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: var(--third--color);
}

/*General Classes*/
.center-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.space-around{
    display: flex;
    justify-content: space-around;
}
.space-evenly{
    display: flex;
    justify-content: space-evenly;
}
.font-family-a{
    font-family: var(--a-font);
}
.font-family-b{
    font-family: var(--b-font);
}

/*Button*/
.btn{
    padding: .4rem .6rem;
    border-radius: 6px;
    height: 2rem;
}
.btn-success{
    color: #eeeeee;
    background-color: rgb(72, 175, 72);
    border: solid 2px rgb(29, 75, 29);
}
.btn-danger{
    background-color: #b91d08;
    border: solid 2px #580d03;
}
.btn-danger a{
    color: #eeeeee;
}

/*NavBar*/
.navbar-container{
    font-size: 1rem;
    padding: 1%;
    margin-bottom: 1rem;
    border-bottom: solid 4px var(--primary-color-900);
    background-color: var(--primary-color-700);
}
.nav-left{
    width: 20%;
    font-family: var(--a-font);
}
.nav-right{
    width: 80%;
    justify-content:space-evenly;
    font-family: var(--b-font);    
}
#checkBox, #checkBox2, .hamburger-btn{
    display: none;
}
.nav-menu{
    display: flex;
    width: 100%;
}
.log{
    width: 30%;
}

/*List*/
.list-container{
    margin-top: -1rem;
    display: flex;
    flex-direction: row;
}
.explore-products{
    background-color: var(--primary-color-400);
    width: 18rem;
    margin-bottom: auto;
    padding: 2.3%;
    border-color: var(--primary-color-800);
}
.explore-products input{
    background-color: var(--primary-color-200);
    height: 1.5rem;
    width: 12rem;
    border-radius: 12px;
}
/*default*/
.categories-list{
    padding-left: 6%;    
}
.categories-list li{
    background-color: var(--primary-color-600);
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 13px;
}
.categories-list a {
    padding-left: 10px;
}
/*activate*/
.categories-list .active {
    background-color: var(--primary-color-700);
    border-radius: 13px;
    padding: 4px;
}

.categories-list .active a {
    color: var(--primary-color-300);
}

.post-products{
    width: 75%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}
.product{
    width: 12rem;
    background-color: var(--primary-color);
    min-height: 15rem;
    max-height: 30rem;
    margin: 0 .5rem 1rem .5rem;
    border-radius: 7px;
    padding: .5%;
    height: 18rem;
}
.product-image{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image img{
    max-width: 100%;
    max-height: 10rem;
}
.product-info{
    font-family: var(--b-font);
    border-top: solid 2px #eeeeee;
    height: 20%;
    padding: 3%;
    padding-top: 4%;
}
.product-info-slice{
    margin-bottom: 5%;
}
.search{
    color: var(--primary-color-900);
    border-color: var(--primary-color-50);
    border: 1px solid var(--primary-color-200);
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
}
.margin-bottom{
    margin-bottom: .7rem;
}

/*Page for create a product*/
.create-product-container{
    padding: 1%;
    justify-content: left;
    display: flex;
    flex-direction: row;
    font-family: var(--b-font);
    height: 23rem;
}
.title-part{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: solid 3px var(--primary-color-800);
}
.product-page{
    width: 35%;
    padding: 1%;
}
.product-page input{
    height: 1.1rem;
}
.product-page select{
    height: 1.3rem;
    width: 4rem;
}
.product-page textarea{
    width: 10rem;
    height: 5rem;
    margin-top: .4rem;
}
.product-page-image{
    width: 58%;
    margin-left: auto;
    background-color: var(--primary-color-700);
    padding: 1%;
}
.product-page-image img{
    max-width: 100%;
    max-height: 18rem;
}
.productView-left{
    background-color: var(--primary-color-700);
}

/*Page Login*/
.logPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-700);
    width: 50%;
    padding: 3%;
    margin: auto;
    margin-top: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: var(--b-font);
    font-size: 20px;
}
.logPage form{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.logPage input{
    width: 15rem;
    height: .9rem;
    background-color: var(--primary-color-100);
    border-radius: 18px;
}
/*All Chats page*/
.chats-container{

}
.chatsCard{
    background-color: var(--primary-color-700);
    width: 12rem;
    padding: 10px;
    margin: 2px;
}
/*Chat page*/
.chatContainer{
    margin-bottom: auto;
}
.chatContainer img{
    width: 80%;
}
.chatInfo{
    background-color: var(--primary-color-700);
    width: 35%;
}
.chat{
    width: 65%;
    background-color: var(--primary-color-400);
    font-family: var(--a-font);
}
.messages{
    background-color: var(--primary-color-700);
    padding: 1%;
    padding-left: 2%;
    border-radius: 20px;
    width: 70%;
    margin-bottom: 6px;
}
.chat-messages{
    padding: 3%;
}
.send-message{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding: 10px;
    padding-right: 3rem;
    background-color: var(--primary-color-700);
    border-top: solid 4px var(--primary-color-900);
    
}
.send-message input{
    width: 20rem;
    height: 1.6rem;
}