{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="logPage center-column">
    <h1>Login</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success">Login</button>
    </form>
    
    <label>Did you forget your password?</label>
    <a href="{% url 'password_reset' %}">Click here!</a>

    <label>Or you want to create an account?</label>
    <a href="{% url 'register' %}">Sign up here!</a>

</div>

{% endblock content %}