{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<form class="logPage center-column" method="POST">
    <h1>Password Change</h1>
    <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    {% csrf_token %}
    {{ form.as_p }}
    <button style="margin: 5px;" type="submit" class="btn btn-success" value="Change Password">Change</button>
</form>
{% endblock content %}