{% extends 'base.html' %}
{% load static %}

{% block title %}Profile Edit{% endblock title %}

{% block content %}
<div class="logPage center-column">
    <form method="post" action=".">
    {% csrf_token %}
    
    <h2>Modify your information</h2>

    <div class="">
        <label>Description</label>
        <input type="text" name="description">
    </div>
    <div class="">
        <label>Phone number</label>
        <input type="text" name="phone_number">
    </div>
    <div class="">
        <label>Birthday</label>
        <input type="date" name="birthday">
    </div>
    <div class="">
        <label>livesPlace</label>
        <input type="text" name="livesPlace">
    </div>

    <button class="btn btn-success">Update</button>
    </form>

</div>
{% endblock content %}